#headColor {
  background-color: black;
}

h3 {
  color: white;
}

table {
  border-radius: 2px;
  text-shadow: 2px 2px rgb(21, 109, 104);
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
}


.modal-content {
  background-color: #212222;
  color: #ffffff
}